body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino,
               Georgia, "Times New Roman", Times,
               STFangSong, STKaiti, SimSun, "宋体", serif;
    font-size: 18px;
    margin: 5% 15% 5% 15%;
    padding: 2% 5% 5% 5%;
    width: 60%;
    line-height: 150%;
    border: 1px solid gainsboro;
    -webkit--border-radius: 20px;
    border-radius: 20px;
}

h1 {
    font-family: Helvetica, Tahoma, Arial,
                 Trebuchet MS, Verdana, Helvetica, Arial,
                 "Hiragino Sans GB", "冬青体", STXihei, "华文细黑",
                 "Microsoft YaHei", "微软雅黑",
                 Heiti, "黑体",
                 SimSun, "宋体",
                 sans-serif;
}

h2 {
    font-family: Helvetica, Tahoma, Arial,
                 Trebuchet MS, Verdana, Helvetica, Arial,
                 "Hiragino Sans GB", "冬青体", STXihei, "华文细黑",
                 "Microsoft YaHei", "微软雅黑",
                 Heiti, "黑体",
                 SimSun, "宋体",
                 sans-serif;
    margin-top: 60px;
    margin-bottom: 40px;
    border-bottom: 2px gainsboro solid;
    width: 96%;
    line-height: 150%;
    color: #666666;
}


H3 {
    font-family: Helvetica, Tahoma, Arial,
                 Trebuchet MS, Verdana, Helvetica, Arial,
                 "Hiragino Sans GB", "冬青体", STXihei, "华文细黑",
                 "Microsoft YaHei", "微软雅黑",
                 Heiti, "黑体",
                 SimSun, "宋体",
                 sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 1px gainsboro solid;
    width: 92%;
    line-height: 150%;
    color: #666666;
}


h4 {
    font-family: Helvetica, Tahoma, Arial,
                 Trebuchet MS, Verdana, Helvetica, Arial,
                 "Hiragino Sans GB", "冬青体", STXihei, "华文细黑",
                 "Microsoft YaHei", "微软雅黑",
                 Heiti, "黑体",
                 SimSun, "宋体",
                 sans-serif;
    margin-top: 28px;
    margin-bottom: 14px;
    border-bottom: 1px gainsboro solid;
    width: 88%;
    line-height: 150%;
    color: #666666;
}


li {
    margin-left: 10px;
}


blockquote {
    border-left: 4px gainsboro solid;
    padding-left: 5px;
    margin-left: 20px;
    opacity: 0.6;
}

code {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Courier New", mono, monospace;
    font-size: 75%;
}

pre {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Courier New", mono, monospace;
    font-size: 100%;
    border: solid 1px gainsboro;
    background-color: whitesmoke;
    padding: 5px;
    line-height: 120%;
    margin-left: 10px;
    width: 90%;

    overflow: scroll;
}
pre code {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Courier New", mono, monospace;
    font-size: 70%;
}




a {
    text-decoration: none;
    /*cursor: crosshair;*/
    border-bottom: 1px dashed lightslategrey;
    padding: 1px;
    color: black;
}
a:hover {
  background-color: gainsboro;
}


img {
    display: block;
    box-shadow: 0 0 10px #555;
    -webkit-box-shadow: 0 0 10px #555;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}


hr {
    color: gainsboro;
}


